@import "vars";
@import "fonts";
@import "animation";

::placeholder {
	color: #666;
}

::selection { 
	background-color: $accent;
	color: #fff;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
	font-size: 62.5%;
	@include respond(900) {

		font-size: 56.25%;  
	}
	@include respond(600) {

		font-size: 50%; 
	}
}

body {
	//min-width: 320px;
	position: relative;
	line-height: 1.4;
	font-family: $default-font;
	font-size: 1.6rem;
	//overflow-x: hidden;
	box-sizing: border-box;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}


b, strong {
	font-weight: bold;
}

img {
	max-width: 100%;
	height: auto;
}

.main {
	display: flex;
	&__content {
		flex-grow: 1;
		width: calc(100% - 32rem);
	}
}


@import "_components/smallComp";
@import "_components/scrollTop";	
@import "_components/popup";	


@import "_blocks/header"; 



@import "_blocks/footer";